<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>首页-车装甲</title>
		<link rel="stylesheet" type="text/css" href="/style/index_app_m/css/basic.css"/>
		<link rel="stylesheet" type="text/css" href="/style/index_app_m/css/style.css"/>

<script type="text/javascript" src="/style/index_app_m/js/device.min.js"></script>
    <script type="text/javascript">
    if(navigator.platform.indexOf('Win32')!=-1){ 
    //web
        window.location.href="/";
    }else{ 
   //移动端
       //window.location.href="http://www.taobao.com";
     } 
	</script> 

	</head>
  
<body>

<div class="czj_app"> 

	<div class="main_visual">
		<img class="bj" src="/style/index_app_m/images/ph_01.jpg" />
			<div class="top">
				<div class="t_img"><img src="/style/index_app_m/images/heng_logo.png" /></div>
			<ul>
				<li class="li01"><i class="color">(商家版)</i></li>
				<li class="li02"><i class="kfdh">400-6666-717</i></li>
			</ul>
			</div>
			
			<div class="ewm">
			<ul>
				<li class="li_ewm"><img class="erweima" src="/style/index_app_m/images/erweima.png" /></li>
				<li class="li_ios"><a href="https://itunes.apple.com/cn/app/che-zhuang-jia-shang-jia-ban/id1130232175?mt=8" target="_blank"><img class="ios" src="/style/index_app_m/images/ios.png" /></a></li>
				<li class="li_andr"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.chezhuangjia.carapp" target="_blank"><img class="android" src="/style/index_app_m/images/android.png" /></a></li>
			</ul>
			</div>
	</div>

	<div class="main02">
		<img src="/style/index_app_m/images/ph_02.png" />
		<img src="/style/index_app_m/images/ph_03.png" />
		<img src="/style/index_app_m/images/ph_04.png" />
	</div>

	<!--<div class="foot_xf">-->
			<!--<img src="/style/index_app_m/images/lg.png"/>-->
			   <!--<i class="app">下载车装甲APP</i>-->
			   <!--<i class="dj"><a href="#" target="_blank">点击打开&nbsp;></a></i>-->
	<!--</div>-->

        <div style="height:80px" class="foot_xf">
            <div style="height:40px">
                <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.chezhuangjia.carapp" target="_blank">
                <img src="/style/index_app_m/images/lg.png"/>
                <i class="app">下载车装甲APP</i>
                <i class="dj">点击打开&nbsp;></i>
                </a>
            </div>
            <div style="height:40px;background-color: #000000;">
                <a href="/style/czj_tpms.apk" target="_blank">
                <img src="/style/index_app_m/images/czj_tpms.png"/>
                <i class="app">下载胎压监测APP</i>
                <i class="dj">点击打开&nbsp;></i>
                </a>
            </div>
		</div>
</div>

</body>
</html>


































